# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
React%20%EC%8B%AC%ED%99%94%20%EA%B3%BC%EC%A0%9C_%EB%A7%A4%EA%B1%B0%EC%A7%84%20%EC%99%80%EC%9D%B4%EC%96%B4%ED%94%84%EB%A0%88%EC%9E%84.pdf
static/yana_hurskaya-mJiTp3KRbQw-unsplash.jpg
static/yana_hurskaya-HpQFPnCK7_A-unsplash.jpg
static/yana_hurskaya-DxFy52hjWJY-unsplash.jpg
static/placeholder-image.png
static/kevin-wolf-I-JOyKzrrls-unsplash.jpg
static/javier-saint-jean-rPRwwSO937Q-unsplash.jpg
static/default-img.gif
static/20-0291 Outrigger Virtual Backgrounds_Maldives_2.jpeg
static/105491093_2644047589211568_7763714784214134794_n.png
static/105491093_2644047589211568_7763714784214134794_n.jpeg
src/shared/firebase.js
.firebaserc
.firebase/hosting.YnVpbGQ.cache
firebase.json
